# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

r:
  - oldrel
  - release
  - devel

warnings_are_errors: true

notifications:
  email:
    on_success: change
    on_failure: change

after_success:
  - bash <(curl -s https://codecov.io/bash)
